  #web_bg {
    background: -webkit-linear-gradient(
      0deg,
      rgba(247, 149, 51, 0.1) 0,
      rgba(243, 112, 85, 0.1) 15%,
      rgba(239, 78, 123, 0.1) 30%,
      rgba(161, 102, 171, 0.1) 44%,
      rgba(80, 115, 184, 0.1) 58%,
      rgba(16, 152, 173, 0.1) 72%,
      rgba(7, 179, 155, 0.1) 86%,
      rgba(109, 186, 130, 0.1) 100%
    );
    background: -moz-linear-gradient(
      0deg,
      rgba(247, 149, 51, 0.1) 0,
      rgba(243, 112, 85, 0.1) 15%,
      rgba(239, 78, 123, 0.1) 30%,
      rgba(161, 102, 171, 0.1) 44%,
      rgba(80, 115, 184, 0.1) 58%,
      rgba(16, 152, 173, 0.1) 72%,
      rgba(7, 179, 155, 0.1) 86%,
      rgba(109, 186, 130, 0.1) 100%
    );
    background: -o-linear-gradient(
      0deg,
      rgba(247, 149, 51, 0.1) 0,
      rgba(243, 112, 85, 0.1) 15%,
      rgba(239, 78, 123, 0.1) 30%,
      rgba(161, 102, 171, 0.1) 44%,
      rgba(80, 115, 184, 0.1) 58%,
      rgba(16, 152, 173, 0.1) 72%,
      rgba(7, 179, 155, 0.1) 86%,
      rgba(109, 186, 130, 0.1) 100%
    );
    background: -ms-linear-gradient(
      0deg,
      rgba(247, 149, 51, 0.1) 0,
      rgba(243, 112, 85, 0.1) 15%,
      rgba(239, 78, 123, 0.1) 30%,
      rgba(161, 102, 171, 0.1) 44%,
      rgba(80, 115, 184, 0.1) 58%,
      rgba(16, 152, 173, 0.1) 72%,
      rgba(7, 179, 155, 0.1) 86%,
      rgba(109, 186, 130, 0.1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(247, 149, 51, 0.1) 0,
      rgba(243, 112, 85, 0.1) 15%,
      rgba(239, 78, 123, 0.1) 30%,
      rgba(161, 102, 171, 0.1) 44%,
      rgba(80, 115, 184, 0.1) 58%,
      rgba(16, 152, 173, 0.1) 72%,
      rgba(7, 179, 155, 0.1) 86%,
      rgba(109, 186, 130, 0.1) 100%
    );
  }
:root {
    --anzhiyu-theme-op: rgba(66,89,239,0.14);
    --anzhiyu-white: #fff;
    --anzhiyu-black: #000;
    --anzhiyu-none: transparent;
    --anzhiyu-gray: #999;
    --anzhiyu-yellow: #ffc93e;
    --anzhiyu-border-radius: 8px;
    --anzhiyu-main: var(--anzhiyu-theme);
    --anzhiyu-main-op: var(--anzhiyu-theme-op);
    --anzhiyu-shadow-theme: 0 8px 12px -3px var(--anzhiyu-theme-op);
    --anzhiyu-shadow-main: 0 8px 12px -3px var(--anzhiyu-main-op);
    --anzhiyu-shadow-blue: 0 8px 12px -3px rgba(40,109,234,0.2);
    --anzhiyu-shadow-white: 0 8px 12px -3px hsla(0,0%,100%,0.2);
    --anzhiyu-shadow-black: 0 0 12px 4px rgba(0,0,0,0.05);
    --anzhiyu-shadow-yellow: 0px 38px 77px -26px rgba(255,201,62,0.12);
    --anzhiyu-shadow-red: 0 8px 12px -3px rgba(238,125,121,0.21);
    --anzhiyu-shadow-green: 0 8px 12px -3px rgba(135,238,121,0.21);
    --anzhiyu-logo-color: linear-gradient(215deg,#4584ff 30%,#ff7676 70%);
    --style-border: 1px solid var(--anzhiyu-card-border);
    --anzhiyu-blue-main: #425aef;
    --style-border-hover: 1px solid var(--anzhiyu-blue-main);
    --style-border-dashed: 1px dashed var(--anzhiyu-theme-op);
    --anzhiyu-white-acrylic1: #fefeff!important;
    --anzhiyu-white-acrylic2: #fcfdff!important;
    --anzhiyu-black-acrylic2: #08080a!important;
    --anzhiyu-black-acrylic1: #0b0b0e!important;
    --anzhiyu-snackbar-time: 5s
  }[data-theme=light] {
    --anzhiyu-theme: #425aef;
    --anzhiyu-theme-op: rgba(66,89,239,0.14);
    --anzhiyu-blue: #425aef;
    --anzhiyu-red: #d8213c;
    --anzhiyu-pink: #ff7c7c;
    --anzhiyu-green: #57bd6a;
    --anzhiyu-fontcolor: #363636;
    --anzhiyu-background: #f7f9fe;
    --anzhiyu-reverse: #000;
    --anzhiyu-maskbg: hsla(0,0%,100%,0.6);
    --anzhiyu-maskbgdeep: hsla(0,0%,100%,0.85);
    --anzhiyu-hovertext: var(--anzhiyu-theme);
    --anzhiyu-ahoverbg: #f7f7fa;
    --anzhiyu-lighttext: var(--anzhiyu-main);
    --anzhiyu-secondtext: rgba(60,60,67,0.6);
    --anzhiyu-scrollbar: rgba(60,60,67,0.4);
    --anzhiyu-card-btn-bg: #edf0f7;
    --anzhiyu-post-blockquote-bg: #fafcff;
    --anzhiyu-post-tabs-bg: #f2f5f8;
    --anzhiyu-secondbg: #edf0f7;
    --anzhiyu-shadow-nav: 0 5px 12px -5px rgba(102,68,68,0.05);
    --anzhiyu-card-bg: #fff;
    --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102,68,68,0);
    --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102,68,68,0);
    --anzhiyu-card-border: #c0c6d8
  }[data-theme=dark] {
    --anzhiyu-theme: #0084ff;
    --anzhiyu-theme-op: rgba(0,132,255,0.14);
    --anzhiyu-blue: #0084ff;
    --anzhiyu-red: #ff3842;
    --anzhiyu-pink: #ff7c7c;
    --anzhiyu-green: #57bd6a;
    --anzhiyu-fontcolor: #f7f7fa;
    --anzhiyu-background: #18171d;
    --anzhiyu-reverse: #fff;
    --anzhiyu-maskbg: rgba(0,0,0,0.6);
    --anzhiyu-maskbgdeep: rgba(0,0,0,0.85);
    --anzhiyu-hovertext: #0a84ff;
    --anzhiyu-ahoverbg: #fff;
    --anzhiyu-lighttext: #f2b94b;
    --anzhiyu-secondtext: #a1a2b8;
    --anzhiyu-scrollbar: rgba(200,200,223,0.4);
    --anzhiyu-card-btn-bg: #30343f;
    --anzhiyu-post-blockquote-bg: #000;
    --anzhiyu-post-tabs-bg: #121212;
    --anzhiyu-secondbg: #30343f;
    --anzhiyu-shadow-nav: 0 5px 20px 0px rgba(28,28,28,0.4);
    --anzhiyu-card-bg: #1d1b26;
    --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102,68,68,0);
    --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102,68,68,0);
    --anzhiyu-card-border: #42444a
}
  