@font-face {
  font-family: "iconfont"; /* Project id 3608755 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1669459814132') format('woff2'),
       url('iconfont.woff?t=1669459814132') format('woff'),
       url('iconfont.ttf?t=1669459814132') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoshuai:before {
  content: "\fb81";
}

.icon-jiance:before {
  content: "\fb8c";
}

.icon-jiangxiang:before {
  content: "\fbb2";
}

.icon-xihuan1:before {
  content: "\fbd6";
}

.icon-lianjie:before {
  content: "\fc14";
}

.icon-github:before {
  content: "\e722";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-shenghuo:before {
  content: "\fac4";
}

.icon-xinxi:before {
  content: "\fadf";
}

.icon-QQ:before {
  content: "\fae0";
}

.icon-weibo:before {
  content: "\fae2";
}

.icon-weixin:before {
  content: "\fae4";
}

.icon-xinhao:before {
  content: "\faf0";
}

.icon-gengduo:before {
  content: "\fb04";
}

.icon-xihuan:before {
  content: "\fb08";
}

.icon-faxian:before {
  content: "\fb2f";
}

.icon-quanzi:before {
  content: "\fb35";
}

.icon-yinle1:before {
  content: "\fb39";
}

.icon-biancheng:before {
  content: "\fb3a";
}

.icon-shipin:before {
  content: "\fb3c";
}

.icon-kecheng:before {
  content: "\fb3e";
}

.icon-youxi1:before {
  content: "\fb42";
}

.icon-liuyan:before {
  content: "\fb56";
}

.icon-guanggao:before {
  content: "\fb6f";
}

.icon-fenxiang:before {
  content: "\fb7d";
}

.icon-shipin1:before {
  content: "\fb83";
}

.icon-tupian:before {
  content: "\fb84";
}

.icon-chaxun:before {
  content: "\fb86";
}

.icon-gonggao1:before {
  content: "\fb8b";
}

.icon-tongji:before {
  content: "\fba1";
}

.icon-shuji:before {
  content: "\fbb7";
}

.icon-daohang:before {
  content: "\fbe2";
}

.icon-TV:before {
  content: "\fbf7";
}

.icon-xingqu:before {
  content: "\fc07";
}

.icon-gequ:before {
  content: "\fc0d";
}

.icon-xiangcaobingqilin:before {
  content: "\e6c2";
}

