@import "//at.alicdn.com/t/c/font_3823102_uwimkhlc7f.css";
#recent-posts > .recent-post-item:not(:first-child):hover {
  border: var(--style-border-hover) !important;
  box-shadow: var(--marcus-shadow-main) !important;
}
#recent-posts>.recent-post-item {
  border-radius: 30px;
}
#recent-posts>.recent-post-item>.recent-post-info>.article-title:hover {
  color: var(--marcus-blue-main) !important;
}
.menus_item_child > li > a:hover {
  background-color: var(--marcus-theme) !important;
}
#sidebar #sidebar-menus .menus_items .site-page:hover {
  background-color: var(--marcus-theme) !important;
}
#aside-content .card-tag-cloud a:hover {
  background: var(--marcus-theme);
  color: var(--marcus-white) !important;
  box-shadow: var(--marcus-shadow-theme);
}
#random-banner  #skills-tags-group-all {
  transform: rotate(-30deg);
}
#random-banner  #skills-tags-group-all .tags-group-wrapper {
  margin-top: 7rem !important;
}
#skills-tags-group-all .tags-group-wrapper {
  display: flex !important;
  flex-wrap: nowrap !important;
  animation: rowup 60s linear infinite !important;
}
.banners-title {
  top: 2.9rem;
  left: 3rem;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.banners-title-big {
  font-size: 36px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 8px;
}
.banners-title-small {
  font-size: 12px;
  line-height: 1;
  color: var(--anzhiyu-secondtext);
  margin-top: 8px;
  margin-bottom: .5rem;
}
#page-header #post-top-cover {
  width: 70%;
  height: 100%;
  position: relative;
  margin: 0 -20% 0 auto;
  overflow: hidden;
  margin-bottom: 0;
  transform: rotate(10deg) translateY(-10%) scale(2);
  filter: blur(10px);
}

  .back-menu-list-title,
  .back-menu-item-text,
  #percent,
  .blog-slider__title,
  a#random-hover > div,
  .random-hover,
  a,
  /* span, */
  div.swiper-wrapper>div,
  .author-info__name,
  .author-info__description
  {
      font-family: ZhuZiAYuanJWD;
  }
#page-header #post-top-cover #post-top-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-width: 50vw;
  min-height: 20rem;
  opacity: .8;
}
#page-header #post-top-cover {
  width: 70%;
  height: 100%;
  position: relative;
  margin: 0 -20% 0 auto;
  overflow: hidden;
  margin-bottom: 0;
  transform: rotate(10deg) translateY(-10%) scale(2);
  filter: blur(10px);
}
/* 波浪css */
.main-hero-waves-area {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -11px;
  z-index: 5;
}
.waves-area .waves-svg {
  width: 100%;
  height: 5rem;
}
/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: #f7f9febd;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: #f7f9fe82;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: #f7f9fe36;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: #f7f9fe;
}
/* 黑色模式背景 */
[data-theme="dark"] .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: #18171dc8;
}
[data-theme="dark"] .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: #18171d80;
}
[data-theme="dark"] .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: #18171d3e;
}
[data-theme="dark"] .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: #18171d;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves-area .waves-svg {
    height: 40px;
    min-height: 40px;
  }
}
/* 文章标题 */
#post-title,#page-header{
  color:var(--marcus-post-main);
}