:root {
  --mar-white: #fff;
  --mar-white-op: rgba(255,255,255,0.2);
  --mar-black: #000;
  --mar-black-op: rgba(0,0,0,0.2);
  --mar-none: rgba(0,0,0,0);
  --mar-gray: #999;
  --mar-gray-op: rgba(153,153,153,0.169);
  --mar-vip: #e5a80d;
  --mar-main: var(--mar-theme);
  --mar-main-op: var(--mar-theme-op);
  --mar-main-op-deep: var(--mar-theme-op-deep);
  --mar-main-none: var(--mar-theme-none);
  --mar-shadow-theme: 0 8px 12px -3px var(--mar-theme-op);
  --mar-shadow-blackdeep: 0 2px 16px -3px rgba(0,0,0,0.15);
  --mar-shadow-main: 0 8px 12px -3px var(--mar-main-op);
  --mar-shadow-blue: 0 8px 12px -3px rgba(40,109,234,0.2);
  --mar-shadow-white: 0 8px 12px -3px rgba(255,255,255,0.2);
  --mar-shadow-black: 0 0 12px 4px rgba(0,0,0,0.05);
  --mar-shadow-yellow: 0px 38px 77px -26px rgba(255,201,62,0.12);
  --mar-shadow-red: 0 8px 12px -3px rgba(238,125,121,0.212);
  --mar-shadow-green: 0 8px 12px -3px rgba(135,238,121,0.212);
  --mar-logo-color: linear-gradient(215deg, #4584ff 0%, #cf0db9 100%);
  --mar-snackbar-time: 5s;
}
::selection {
  background: var(--mar-fontcolor);
  color: var(--mar-background);
}
[data-theme=light] {
  --mar-theme: #425aef;
  --mar-theme-op: rgba(66,89,239,0.137);
  --mar-theme-op-deep: rgba(66,89,239,0.867);
  --mar-theme-none: rgba(66,89,239,0.004);
  --mar-blue: #425aef;
  --mar-red: #f04a63;
  --mar-pink: #ff7c7c;
  --mar-green: #57bd6a;
  --mar-yellow: #c28b00;
  --mar-yellow-op: rgba(217,156,0,0.102);
  --mar-orange: #e38100;
  --mar-fontcolor: #363636;
  --mar-background: #f7f9fe;
  --mar-reverse: #000;
  --mar-maskbg: rgba(255,255,255,0.6);
  --mar-maskbgdeep: rgba(255,255,255,0.85);
  --mar-hovertext: var(--mar-main);
  --mar-ahoverbg: #f7f7fa;
  --mar-lighttext: var(--mar-main);
  --mar-secondtext: rgba(60,60,67,0.8);
  --mar-scrollbar: rgba(60,60,67,0.4);
  --mar-card-btn-bg: #edf0f7;
  --mar-post-blockquote-bg: #fafcff;
  --mar-post-tabs-bg: #f2f5f8;
  --mar-secondbg: #f1f3f8;
  --mar-shadow-nav: 0 5px 12px -5px rgba(102,68,68,0.05);
  --mar-card-bg: #fff;
  --mar-card-bg-op: var(--mar-black-op);
  --mar-card-bg-none: rgba(255,255,255,0);
  --mar-shadow-lightblack: 0 5px 12px -5px rgba(102,68,68,0);
  --mar-shadow-light2black: 0 5px 12px -5px rgba(102,68,68,0);
  --mar-card-border: #e3e8f7;
  --mar-shadow-border: 0 8px 16px -4px rgba(44,45,48,0.047);
  --style-border: 1px solid var(--mar-card-border);
  --style-border-always: 1px solid var(--mar-card-border);
  --style-border-hover: 1px solid var(--mar-main);
  --style-border-hover-always: 1px solid var(--mar-main);
  --style-border-dashed: 1px dashed var(--mar-theme-op);
  --style-border-forever: 2px solid var(--mar-main);
}
[data-theme=dark] {
  --mar-theme: #f2b94b;
  --mar-theme-op: rgba(242,185,75,0.137);
  --mar-theme-op-deep: rgba(242,185,75,0.867);
  --mar-theme-none: rgba(242,185,75,0);
  --mar-blue: #0084ff;
  --mar-red: #ff3842;
  --mar-pink: #d44040;
  --mar-green: #3e9f50;
  --mar-yellow: #ffc93e;
  --mar-yellow-op: rgba(255,201,62,0.188);
  --mar-orange: #ff953e;
  --mar-fontcolor: #f7f7fa;
  --mar-background: #18171d;
  --mar-reverse: #fff;
  --mar-maskbg: rgba(0,0,0,0.6);
  --mar-maskbgdeep: rgba(0,0,0,0.85);
  --mar-hovertext: #0a84ff;
  --mar-ahoverbg: #fff;
  --mar-lighttext: var(--mar-theme);
  --mar-secondtext: #a1a2b8;
  --mar-scrollbar: rgba(200,200,223,0.4);
  --mar-card-btn-bg: #30343f;
  --mar-post-blockquote-bg: #000;
  --mar-post-tabs-bg: #121212;
  --mar-secondbg: #30343f;
  --mar-shadow-nav: 0 5px 20px 0px rgba(28,28,28,0.4);
  --mar-card-bg: #1d1e22;
  --mar-card-bg-op: var(--mar-white-op);
  --mar-card-bg-none: rgba(29,27,38,0);
  --mar-shadow-lightblack: 0 5px 12px -5px rgba(102,68,68,0);
  --mar-shadow-light2black: 0 5px 12px -5px rgba(102,68,68,0);
  --mar-card-border: #3d3d3f;
  --mar-shadow-border: 0 8px 16px -4px rgba(0,0,0,0.314);
  --style-border: 1px solid var(--mar-card-border);
  --style-border-always: 1px solid var(--mar-card-border);
  --style-border-hover: 1px solid var(--mar-theme);
  --style-border-hover-always: 1px solid var(--mar-theme);
  --style-border-dashed: 1px dashed var(--mar-theme-op);
  --style-border-forever: 2px solid var(--mar-lighttext);
}
